# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# freeserf specific
*.PA

# mac specific
*.xcworkspace
xcuserdata
.DS_Store
*.dmg
*.pbxproj

# windows specific
*.ncb
*.suo
*.obj
*.pdb
*.idb
*.user
*.log
*.tlog
*.sdf
*.lastbuildstate
*.unsuccessfulbuild
*.VC.db
*.VC.VC.opendb

# VSCode
.vscode/
build/

# .git itself
.git/
