# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# freeserf specific
.deps
Makefile
Makefile.in
*.PA
aclocal.m4
autom4te.cache
config.h
config.h.in
config.h.in~
config.log
config.status
configure
depcomp
freeserf
install-sh
missing
src/version-vcs.h
stamp-h1
compile
src/.dirstamp

# mac specific
*.xcworkspace
xcuserdata
mac/version_vcs.h
.DS_Store

# windows specific
windows/Debug
windows/Release
!windows/config.h
*.ncb
*.suo
*.vcxproj
*.vcxproj.filters
*.obj
*.pdb
*.idb
*.user
*.log
*.tlog
*.sdf
*.lastbuildstate
*.unsuccessfulbuild
